venv/
__pycache__/
.DS_Store
*.aux 
*.log 
*.out 
*.gz 
*.nav 
*-pics.pdf 
*.snm 
*.toc 
*.bbl 
*.blg 
*.xml 
*.bcf 
*-blx.bib 
*.spl
*.fdb_latexmk
*.fls
*.bib
*.pdf
*.vtu
*.pvsm
*.ods
*.png
data/
*.egg-info
